{
  "ConnectionStrings": {
    "DetectorEstafas": ""
  },
  "Correo": {
    "ModoDesarrollo": false,
    "SmtpHost": "",
    "SmtpPort": 587,
    "UsarSsl": true,
    "Usuario": "",
    "Password": "",
    "RemitenteEmail": "",
    "RemitenteNombre": "AlertaEstafa"
  },
  "InteligenciaArtificial": {
    "Enabled": false,
    "ApiKey": ""
  },
  "ApiAdministracion": {
    "Enabled": true,
    "Secret": "",
    "SessionMinutes": 20
  }
}